@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

:root {
  font-family: "Arial", sans-serif;
}

.label {
  font-size: 30px;
  font-weight: bold;
  background: url('../../assets/image.png') no-repeat center center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: moveBg 2s linear infinite;
  animation: moveBg 2s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }
  100% {
    background-position: 1000% 500%;
  }
}

.time {
  color: #edd04f;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.time span {
  padding: 0 14px;
  font-size: 0.8rem;
}

.time span div {
  font-size: 3rem;
}

@media (max-width: 740px) {
  .label {
    font-size: 20px
  }
  .time span {
    padding: 0 16px;
    font-size: 0.6rem;
  }
  .time span div {
    font-size: 2rem;
  }
}
