.animated-component {
    opacity: 1; /* Set to fully visible */
    transform: none; /* Remove any transform effects */
    min-height: 100vh;
}

.header-container {
    min-height: 100vh;
    position: relative;
}


