.checkout-flex {
  margin-top: 80px;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
}

.checkout-container {
  position: absolute;
  top: 40px;
  width: 60%;
  margin-top: 70px;
  background-color: #ffffff08;
  border-radius: 20px;
  overflow: hidden;
}
.checkout-container-img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 1;
}

.back {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 40px;

}

.steps {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  border-radius: 50%;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  line-height: 40px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.active {
  border: 3px solid rgb(0, 0, 0);
}

.step-title {
  margin-top: 10px;
  font-size: 12px;
}

.step-title.active {
  color: rgb(255, 255, 255);
}




/* .terms{
    position: relative;
    margin: auto 10px;
  } */

/* .terms a{
    
    color: rgb(250, 250, 45);
  } */



.continue-button {
  background-color: #ff1100;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.p2 button {
  background: transparent;
  border: none;
  font-size: medium;
  text-indent: 8px;
  cursor: pointer;
}

.continue-panel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 234, 234);
  bottom: 0;
  width: 100%;
  padding: 10px 40px;
}

.confirm-div {
  position: fixed;
  top: 30%;
  min-height: 300px;
  width: 350px;
  border: 3px solid red;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgba(184, 176, 176, 0.322);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.confirm-payment-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.confirm-events {
  width: 100%;
}

.confirm-price {
  display: flex;
  justify-content: space-between;
}

.confirm-event {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.confirm-div h6 {
  font-size: 14px;
  font-weight: light;
}
.grand-total-final{
  font-size: 18px;
  color: #ff1100;
}
.close-confirm{
  width: 100%;
  display: flex;
  justify-content: end;
}

@media (max-width:700px) {
  .back {
    height: 80px;
  }

  .checkout-container {
    width: 90%;
    top: 20px;
  }

  .continue-button {
    height: 50px;
  }
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
