.navbar {
    padding: 20px 4%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar.transparent {
    background-color: transparent;
}

/* Scrolled state background color */
.navbar.scrolled {
    background-color: #01000079;
    backdrop-filter: blur(6px);
}

/* Navbar on other pages (constant color) */
.navbar.other-page {
    background-color: #010000e2; /* Color for all other pages */
}

.navbar-left{
    height: 100%;
    width: 100%;
}
.navbar-left img {
    height: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.nav-items a {
    color: white; 
}

.nav-items a.menu-active {
    color: #fff200;
}

.nav-items button {
position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}



.navbar h1 {
    color: rgb(255, 255, 255);
}

.navbar-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* responsive desigining */


@media(max-width:900px) {
    .nav-items {
        display: none;
    }

}
@media(max-width:700px) {
    .navbar {
        height: 70px;
    }
    .navbar h1 {
        font-size: 20px;
    }
}